@model Blog.Entities.Entities.Post

@{
    ViewBag.Title = "add";
}

<h2>add</h2>

@using (Html.BeginForm()) {
    Html.ValidationSummary(true);
    Html.RenderPartial("post_form");
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
